body {
    background: #dbe2e8;
    background: linear-gradient(
        0deg,
        rgba(219, 226, 232, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #171a53;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 1em 4rem 0;
    }
}

h2 {
    border-bottom: 0.1875em solid #b181ff;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
}

p {
    line-height: 1.6em;
}

main {
    margin: 10vh 1em 10vh;
}

._header {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

.nav ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.nav li {
    display: inline-block;
}

.nav .a {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #171a53;
}

.nav .a:hover {
    background: #171a53;
    color: #fff;
    transition: ease 0.3s all;
}

.header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.footer {
    background: #171a53;
    padding: 2em;
    color: #fff;
}

.footer p {
    color: #fff;
}

.container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

section:nth-of-type(odd) .container::before {
    content: '';
    background: rgba(189, 234, 9, 0.8);
    background: linear-gradient(
        0deg,
        rgba(189, 234, 9, 0.5) 0%,
        rgba(189, 234, 9, 1) 100%
    );
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .container::before {
    content: '';
    background: #6597ff;
    background: linear-gradient(
        0deg,
        rgba(101, 151, 255, 0.5) 0%,
        rgba(101, 151, 255, 1) 100%
    );
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .container::after {
    content: '';
    background: #b181ff;
    background: linear-gradient(
        0deg,
        rgba(177, 129, 255, 0.5) 0%,
        rgba(177, 129, 255, 1) 100%
    );
    position: absolute;
    left: 3em;
    bottom: -1em;
    z-index: -5;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .container::after {
    content: '';
    background: #2015ff;
    background: linear-gradient(
        0deg,
        rgba(32, 21, 255, 0.5) 0%,
        rgba(32, 21, 255, 1) 100%
    );
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .container::after {
    content: '';
    background: #0ac5a1;
    background: linear-gradient(
        0deg,
        rgba(10, 197, 161, 0.5) 0%,
        rgba(10, 197, 161, 1) 100%
    );
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(5n) .container::after {
    content: '';
    background: #b181ff;
    background: linear-gradient(
        0deg,
        rgba(177, 129, 255, 0.5) 0%,
        rgba(177, 129, 255, 1) 100%
    );
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section.activeSection {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}

section.activeSection .container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.activeSection .container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

::-webkit-scrollbar {
    width: 0.625em;
}

::-webkit-scrollbar-track {
    background: #dbe2e8;
    background: linear-gradient(
        0deg,
        rgba(219, 226, 232, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

::-webkit-scrollbar-thumb {
    background: #171a53;
    background: linear-gradient(
        0deg,
        rgba(23, 26, 83, 0.25) 0%,
        rgba(23, 26, 83, 1) 100%
    );
}

.commentsSection {
    display: grid;
    justify-self: left;
}

._comment {
    border: 0.0625em solid #171a53;
    border-radius: 0.625em;
    padding: 1em;
    margin: 2em;
    justify-content: left;
}

.commentP {
    text-align: left;
}